form {
    display: flex;
    gap: 10px
}

.deleteBtn, .addBtn, .logoutBtn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form input[type="text"],
.search-form select {
    flex: 1;
    min-width: 200px;
}

.search-form input[type="submit"] {
    flex: 0 0 auto;
}

.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}